@(searchForm: Form[UserSearch], documents: Array[Document])(implicit messages: Messages)

@main("Search") {

    <div class="row">
        <div class="col-lg-8"><h1>Search results</h1></div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            @helper.form(action = routes.Search.doSearch) {
                @helper.inputText(searchForm("keyword"))
                <button type="submit" name="search" id="search" class="btn btn-primary">Search</button>
            }
        </div>
        <div class="col-lg-4"></div>
    </div>


    <div class="row">
        <div class="col-lg-8">
            Search results
        </div>
        <div class="col-lg-4">
            Aggregations
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <ul>
            @documents.map { document =>
              <li>@document.id / @document.title</li>
            }
            </ul>
        </div>
        <div class="col-lg-4">
            <ul>

            </ul>
        </div>
    </div>


}
